/* body {
    min-width: 475px;
} */
:root {
    --primarycolor: #d90dfd;
    --secondarycolor: #56c6ff;
}
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.primary-text-color {
    color: var(--primarycolor);
}

#bio {
    font-size: 1.1rem;
}

#content {
    background-color: lightgrey;
}

nav {
    background-color: var(--primarycolor);
}

nav button {
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.1rem;

    background-color: var(--secondarycolor);
    transition-duration: 0.5s;
}

nav button:hover {
    background-color: #198ac4;
}

nav h1 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.5rem;
}

#photo {
    border-radius: 50px;
}

.card {
    width: 325px;
}

#contact li {
    font-size: 0.9rem;
}

#practice {
    height: 100%;
}

#practice li {
    font-size: 1.5rem;
    color: var(--secondarycolor);
}

.language {
    font-size: 2rem;
    padding-top: 15px;
}

div a h1 {
    font-size: 1.5rem;
}

#bio,
#contact,
#practice,
#projects {
    border: 1px solid var(--secondarycolor);
}

.hidden {
    display: none;
}

.data-block {
    word-wrap: break-word;
    border: 1px solid var(--primarycolor);
    border-radius: 10px;
    height: 175px;
}

.project-github:hover,
.project-github {
    text-decoration: none;
    color: var(--secondarycolor);
}

.description {
    position: absolute;
    display: none;
    pointer-events: none;
    padding-top: 5px;
}

.data-block:focus > .project-title {
    display: none;
    pointer-events: none;
}

.data-block:focus > .description {
    display: block;
    pointer-events: all;
}

.github-link {
    position: absolute;
    top: 60%;
}

@media (min-width: 960px) {
    nav h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {
    nav h1 {
        font-size: 1.2rem;
    }

    #content h1,
    #content h2,
    #content h4 {
        font-size: 1.2rem;
    }

    #content p {
        font-size: 14px;
    }

    #practice li {
        font-size: 14px;
    }

    #photo {
        width: auto;
        height: 75px;
    }
}
